nav{
    margin: 15px 15px 15px 15px;   
}

.logo__nav {
    float: left;
    width: 15%;
    margin-left: 1%;
    margin-top: 1%;   
}

li{
    list-style: none;
}


.logoCarrito {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    animation: pulse 2500ms infinite;
    margin: 70px 70px 70px 70px;
    background-color: rgb(233, 233, 233);
}

@keyframes pulse {
    0% {
        box-shadow: #ffffff 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 16px;
    }
}

.fondo_principal{
    background-image: url(../NavBar/imagen/hombre.jpg);
}

